In [1]:
# Run once to set up your Real Estate project folder structure
from pathlib import Path

# Base directory ‚Äî current working directory (Real_Estate_Price)
BASE = Path.cwd()

# Subfolders to create inside the project
for folder in ["data_raw", "data_clean", "images", "models", "notebooks", "cache"]:
    (BASE / folder).mkdir(parents=True, exist_ok=True)

print("‚úÖ Project folder structure created at:", BASE)

‚úÖ Project folder structure created at: C:\Users\91786\Desktop\Real_Estate_Price

In [7]:
# Install libraries (restart kernel after first install if needed)
!pip install pandas numpy geopandas osmnx requests vaderSentiment scikit-learn xgboost joblib tensorflow pillow praw psaw geemap earthengine-api matplotlib

Requirement already satisfied: pandas in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (2.2.6)
Requirement already satisfied: geopandas in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (1.1.1)
Requirement already satisfied: osmnx in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (2.0.6)
Requirement already satisfied: requests in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (2.32.5)
Requirement already satisfied: vaderSentiment in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (3.3.2)
Requirement already satisfied: scikit-learn in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (1.7.2)
Requirement already satisfied: xgboost in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (3.1.1)
Requirement already satisfied: joblib in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (1.5.2)
Requirement already satisfied: tensorflow in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (2.20.0)
Requirement already satisfied: pillow in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (12.0.0)
Requirement already satisfied: praw in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (7.8.1)
Requirement already satisfied: psaw in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (0.1.0)
Requirement already satisfied: geemap in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (0.36.6)
Requirement already satisfied: earthengine-api in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (1.6.15)
Requirement already satisfied: matplotlib in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (3.10.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geopandas) (0.11.1)
Requirement already satisfied: packaging in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geopandas) (25.0)
Requirement already satisfied: pyproj>=3.5.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geopandas) (3.7.1)
Requirement already satisfied: shapely>=2.0.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geopandas) (2.1.2)
Requirement already satisfied: networkx>=2.5 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from osmnx) (3.4.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from requests) (2025.10.5)
Requirement already satisfied: scipy>=1.8.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (25.9.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google_pasta>=0.1.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt_einsum>=2.3.2 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: protobuf>=5.28.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (6.33.0)
Requirement already satisfied: setuptools in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (80.9.0)
Requirement already satisfied: six>=1.12.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (3.2.0)
Requirement already satisfied: typing_extensions>=3.6.6 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (4.15.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (2.0.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (1.76.0)
Requirement already satisfied: tensorboard~=2.20.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (2.20.0)
Requirement already satisfied: keras>=3.10.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (3.12.0)
Requirement already satisfied: h5py>=3.11.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (3.15.1)
Requirement already satisfied: ml_dtypes<1.0.0,>=0.5.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: markdown>=2.6.8 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (3.10)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (3.1.3)
Requirement already satisfied: prawcore<3,>=2.4 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from praw) (2.4.0)
Requirement already satisfied: update_checker>=0.18 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from praw) (0.18.0)
Requirement already satisfied: websocket-client>=0.54.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from praw) (1.8.0)
Requirement already satisfied: Click in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from psaw) (8.3.0)
Requirement already satisfied: anywidget in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (0.9.18)
Requirement already satisfied: bqplot in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (0.12.45)
Requirement already satisfied: eerepr>=0.1.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (0.1.2)
Requirement already satisfied: folium>=0.17.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (0.20.0)
Requirement already satisfied: geocoder in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (1.38.1)
Requirement already satisfied: ipyevents in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (2.0.4)
Requirement already satisfied: ipyfilechooser>=0.6.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (0.6.0)
Requirement already satisfied: ipyleaflet>=0.19.2 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (0.20.0)
Requirement already satisfied: plotly in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (6.4.0)
Requirement already satisfied: pyperclip in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (1.11.0)
Requirement already satisfied: pyshp>=2.3.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (3.0.2.post1)
Requirement already satisfied: python-box in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (7.3.2)
Requirement already satisfied: scooby in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geemap) (0.11.0)
Requirement already satisfied: google-cloud-storage in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from earthengine-api) (3.5.0)
Requirement already satisfied: google-api-python-client>=1.12.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from earthengine-api) (2.187.0)
Requirement already satisfied: google-auth>=1.4.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from earthengine-api) (2.43.0)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from earthengine-api) (0.2.1)
Requirement already satisfied: httplib2<1dev,>=0.9.2 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from earthengine-api) (0.31.0)
Requirement already satisfied: pyparsing<4,>=3.0.4 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from httplib2<1dev,>=0.9.2->earthengine-api) (3.2.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: branca>=0.6.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from folium>=0.17.0->geemap) (0.8.2)
Requirement already satisfied: jinja2>=2.9 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from folium>=0.17.0->geemap) (3.1.6)
Requirement already satisfied: xyzservices in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from folium>=0.17.0->geemap) (2025.10.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from google-api-python-client>=1.12.1->earthengine-api) (2.28.1)
Requirement already satisfied: uritemplate<5,>=3.0.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from google-api-python-client>=1.12.1->earthengine-api) (4.2.0)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client>=1.12.1->earthengine-api) (1.72.0)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client>=1.12.1->earthengine-api) (1.26.1)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from google-auth>=1.4.1->earthengine-api) (6.2.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from google-auth>=1.4.1->earthengine-api) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from google-auth>=1.4.1->earthengine-api) (4.9.1)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from rsa<5,>=3.1.4->google-auth>=1.4.1->earthengine-api) (0.6.1)
Requirement already satisfied: ipywidgets in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipyfilechooser>=0.6.0->geemap) (8.1.8)
Requirement already satisfied: jupyter-leaflet<0.21,>=0.20 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipyleaflet>=0.19.2->geemap) (0.20.0)
Requirement already satisfied: traittypes<3,>=0.2.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipyleaflet>=0.19.2->geemap) (0.2.3)
Requirement already satisfied: comm>=0.1.3 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipywidgets->ipyfilechooser>=0.6.0->geemap) (0.2.1)
Requirement already satisfied: ipython>=6.1.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipywidgets->ipyfilechooser>=0.6.0->geemap) (8.30.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipywidgets->ipyfilechooser>=0.6.0->geemap) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.14 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipywidgets->ipyfilechooser>=0.6.0->geemap) (4.0.15)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipywidgets->ipyfilechooser>=0.6.0->geemap) (3.0.16)
Requirement already satisfied: decorator in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (5.2.1)
Requirement already satisfied: jedi>=0.16 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (2.19.2)
Requirement already satisfied: stack-data in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (0.6.3)
Requirement already satisfied: exceptiongroup in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (1.3.0)
Requirement already satisfied: colorama in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (0.8.4)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from jinja2>=2.9->folium>=0.17.0->geemap) (3.0.2)
Requirement already satisfied: rich in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from keras>=3.10.0->tensorflow) (14.2.0)
Requirement already satisfied: namex in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from keras>=3.10.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from keras>=3.10.0->tensorflow) (0.17.0)
Requirement already satisfied: psygnal>=0.8.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from anywidget->geemap) (0.15.0)
Requirement already satisfied: future in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geocoder->geemap) (1.0.0)
Requirement already satisfied: ratelim in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from geocoder->geemap) (0.1.6)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.2 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from google-cloud-storage->earthengine-api) (2.5.0)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.7.2 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from google-cloud-storage->earthengine-api) (2.7.2)
Requirement already satisfied: google-crc32c<2.0.0,>=1.1.3 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from google-cloud-storage->earthengine-api) (1.7.1)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from plotly->geemap) (2.10.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from rich->keras>=3.10.0->tensorflow) (4.0.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.10.0->tensorflow) (0.1.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (3.0.0)
Requirement already satisfied: pure_eval in c:\users\91786\anaconda3\envs\jupyter_env\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets->ipyfilechooser>=0.6.0->geemap) (0.2.3)

In [9]:
import pandas as pd
from pathlib import Path
import numpy as np

# ‚úÖ Base folder is your current project directory
BASE = Path.cwd()

# Example: Bengaluru dataset from Kaggle (edit filename if different)
f_blr = BASE  / "Bengaluru_House_Data_kaggle.csv"

# Load dataset
df_blr = pd.read_csv(f_blr)
df_blr["city"] = "Bengaluru"

# (Later, repeat for other cities)
# f_mum = BASE / "Mumbai_House_Data.csv"
# df_mum = pd.read_csv(f_mum); df_mum["city"] = "Mumbai"
# ...

# Keep only common columns
keep_cols = [c for c in df_blr.columns if c.lower() in
             ["location", "area_type", "availability", "size", "total_sqft", "bath", "balcony", "price"]]
keep_cols += ["city"]
df_blr = df_blr[keep_cols].copy()

# üßπ Clean numeric sqft and price
def parse_sqft(x):
    s = str(x)
    try:
        if "-" in s:
            a, b = s.split("-")
            return (float(a) + float(b)) / 2
        if s.replace(".", "", 1).isdigit():
            return float(s)
        return np.nan
    except:
        return np.nan

df_blr["total_sqft"] = df_blr["total_sqft"].apply(parse_sqft)
df_blr["price"] = pd.to_numeric(df_blr["price"], errors="coerce")
df_blr = df_blr.dropna(subset=["location", "total_sqft", "price"])

# üè† Infer BHK if column "size" contains strings like "3 BHK"
def parse_bhk(x):
    s = str(x).split()[0]
    return pd.to_numeric(s, errors="coerce")

df_blr["bhk"] = df_blr["size"].apply(parse_bhk)

# üíæ Save cleaned dataset
df_blr.to_csv(BASE / "data_clean" / "blr_clean.csv", index=False)

print("‚úÖ Cleaned Bengaluru dataset saved at:", BASE / "data_clean" / "blr_clean.csv")
df_blr.head()

‚úÖ Cleaned Bengaluru dataset saved at: C:\Users\91786\Desktop\Real_Estate_Price\data_clean\blr_clean.csv

,area_type,availability,location,size,total_sqft,bath,balcony,price,city,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,Bengaluru,2.0
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,Bengaluru,4.0
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,Bengaluru,3.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,Bengaluru,3.0
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,Bengaluru,2.0

In [11]:
import pandas as pd
from pathlib import Path
import numpy as np

# ‚úÖ Base folder (your main project directory)
BASE = Path(r"C:\Users\91786\Desktop\Real_Estate_Price")

# üìÑ Mumbai dataset path
f_mum = BASE / "Mumbai_Data_kaggle.csv"

# üîπ Load dataset
df_mum = pd.read_csv(f_mum)
df_mum["city"] = "Mumbai"

# üîπ Rename columns for standardization
df_mum.rename(columns={
    "locality": "location",
    "area": "total_sqft",
    "type": "property_type",
    "price": "price_value",
    "status": "availability"
}, inplace=True)

# üîπ Clean numeric columns
def parse_sqft(x):
    try:
        s = str(x)
        if "-" in s:
            a, b = s.split("-")
            return (float(a) + float(b)) / 2
        if s.replace(".", "", 1).isdigit():
            return float(s)
        return np.nan
    except:
        return np.nan

df_mum["total_sqft"] = df_mum["total_sqft"].apply(parse_sqft)
df_mum["price_value"] = pd.to_numeric(df_mum["price_value"], errors="coerce")

# üîπ Drop rows with missing values in key columns
df_mum.dropna(subset=["location", "total_sqft", "price_value"], inplace=True)

# üíæ Save cleaned dataset
output_path = BASE / "data_clean" / "mumbai_clean.csv"
df_mum.to_csv(output_path, index=False)

print(f"‚úÖ Cleaned Mumbai dataset saved at: {output_path}")
df_mum.head()

‚úÖ Cleaned Mumbai dataset saved at: C:\Users\91786\Desktop\Real_Estate_Price\data_clean\mumbai_clean.csv

,bhk,property_type,location,total_sqft,price_value,price_unit,region,availability,age,city
0,3,Apartment,Lak And Hanware The Residency Tower,685.0,2.50,Cr,Andheri West,Ready to move,New,Mumbai
1,2,Apartment,Radheya Sai Enclave Building No 2,640.0,52.51,L,Naigaon East,Under Construction,New,Mumbai
2,2,Apartment,Romell Serene,610.0,1.73,Cr,Borivali West,Under Construction,New,Mumbai
3,2,Apartment,Soundlines Codename Urban Rainforest,876.0,59.98,L,Panvel,Under Construction,New,Mumbai
4,2,Apartment,Origin Oriana,659.0,94.11,L,Mira Road East,Under Construction,New,Mumbai

In [13]:
import pandas as pd
from pathlib import Path
import numpy as np

# Base folder (your project)
BASE = Path(r"C:\Users\91786\Desktop\Real_Estate_Price")

# File path
f_hyd = BASE / "Hyderabad_Data_kaggle.csv"

# Load dataset
df = pd.read_csv(f_hyd)

# Add city column
df["city"] = "Hyderabad"

# ‚úÖ Rename columns to standard format
df = df.rename(columns={
    "title": "property_type",
    "location": "location",
    "price(L)": "price_lakh",
    "rate_persqft": "rate_per_sqft",
    "area_insqft": "total_sqft",
    "building_status": "status"
})

# ‚úÖ Convert area and price to numeric
def parse_sqft(x):
    s = str(x)
    try:
        if "-" in s:
            a, b = s.split("-")
            return (float(a) + float(b)) / 2
        if s.replace(".", "", 1).isdigit():
            return float(s)
        return np.nan
    except:
        return np.nan

df["total_sqft"] = df["total_sqft"].apply(parse_sqft)
df["price_lakh"] = pd.to_numeric(df["price_lakh"], errors="coerce")
df["rate_per_sqft"] = pd.to_numeric(df["rate_per_sqft"], errors="coerce")

# ‚úÖ Drop missing values in key columns
df = df.dropna(subset=["location", "total_sqft", "price_lakh"])

# ‚úÖ Save cleaned file
out_path = BASE / "data_clean" / "hyderabad_clean.csv"
df.to_csv(out_path, index=False)

print("‚úÖ Cleaned Hyderabad dataset saved at:", out_path)
df.head()

‚úÖ Cleaned Hyderabad dataset saved at: C:\Users\91786\Desktop\Real_Estate_Price\data_clean\hyderabad_clean.csv

,Unnamed: 0,property_type,location,price_lakh,rate_per_sqft,total_sqft,status,city
0,0,3 BHK Apartment,Nizampet,108.00,6000,1805.0,Under Construction,Hyderabad
1,1,3 BHK Apartment,Bachupally,85.80,5500,1560.0,Under Construction,Hyderabad
2,2,2 BHK Apartment,Dundigal,55.64,5200,1070.0,Under Construction,Hyderabad
3,3,2 BHK Apartment,Pocharam,60.48,4999,1210.0,Under Construction,Hyderabad
4,4,3 BHK Apartment,Kollur,113.00,5999,1900.0,Under Construction,Hyderabad

In [15]:
import pandas as pd
from pathlib import Path
import numpy as np

# ‚úÖ Base folder (change path if needed)
BASE = Path(r"C:\Users\91786\Desktop\Real_Estate_Price")

# ‚úÖ File path for Delhi data
f_delhi = BASE / "Delhi_Data_kaggle.csv"

# ‚úÖ Load dataset
df = pd.read_csv(f_delhi)

# Add city column
df["city"] = "Delhi"

# ‚úÖ Rename columns to standard structure
df = df.rename(columns={
    "Address": "location",
    "area": "total_sqft",
    "price": "price_lakh",
    "Bedrooms": "bhk",
    "bathrooms": "bath",
    "Balcony": "balcony",
    "Status": "status",
    "type_of_building": "building_type",
    "Price_sqft": "rate_per_sqft"
})

# ‚úÖ Convert numeric columns
def parse_sqft(x):
    s = str(x)
    try:
        if "-" in s:
            a, b = s.split("-")
            return (float(a) + float(b)) / 2
        if s.replace(".", "", 1).isdigit():
            return float(s)
        return np.nan
    except:
        return np.nan

df["total_sqft"] = df["total_sqft"].apply(parse_sqft)
df["price_lakh"] = pd.to_numeric(df["price_lakh"], errors="coerce")
df["rate_per_sqft"] = pd.to_numeric(df["rate_per_sqft"], errors="coerce")

# ‚úÖ Drop rows with missing essential values
df = df.dropna(subset=["location", "total_sqft", "price_lakh"])

# ‚úÖ Save cleaned dataset
out_path = BASE / "data_clean" / "delhi_clean.csv"
out_path.parent.mkdir(exist_ok=True, parents=True)
df.to_csv(out_path, index=False)

print("‚úÖ Cleaned Delhi dataset saved at:", out_path)
df.head()

‚úÖ Cleaned Delhi dataset saved at: C:\Users\91786\Desktop\Real_Estate_Price\data_clean\delhi_clean.csv

,Unnamed: 0,price_lakh,location,total_sqft,latitude,longitude,bhk,Bathrooms,balcony,status,neworold,parking,Furnished_status,Lift,Landmarks,building_type,desc,rate_per_sqft,city
0,0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,28.608850,77.460560,3.0,3.0,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Welcome ...,4148.148148,Delhi
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,28.374236,76.952416,3.0,3.0,NaN,Ready to Move,New Property,NaN,Semi-Furnished,2.0,NaN,Flat,\n\n\n Mapsko M...,5906.040268,Delhi
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,28.645769,77.385110,4.0,5.0,NaN,Ready to Move,New Property,1.0,Unfurnished,NaN,NaN,Flat,\n\n\n This pro...,6918.238994,Delhi
3,3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,28.566914,77.436434,2.0,2.0,3.0,NaN,New Property,1.0,Unfurnished,2.0,near Gaur Mulberry Mansion,Flat,\n\n\n AIG Roya...,3628.571429,Delhi
4,4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,28.520732,77.356491,2.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,3.0,NaN,Flat,\n\n\n The prop...,4592.592593,Delhi

In [26]:
import pandas as pd
import numpy as np
from pathlib import Path

# ‚úÖ File paths
BASE = Path(r"C:\Users\91786\Desktop\Real_Estate_Price")
input_path = BASE / "Kolkata_Data_kaggle.csv"
output_path = BASE / "data_clean" / "kolkata_clean.csv"

# ‚úÖ Read data
df = pd.read_csv(input_path)
print("Columns read from file:\n", list(df.columns), "\n")

# ‚úÖ Rename columns for consistency
df = df.rename(columns={
    "Flat_Price": "price",
    "EMI_Starts": "emi_starts",
    "BHK": "bhk",
    "HOUSE_TYPE": "house_type",
    "Purpose": "purpose",
    "Location": "location",
    "Area_Type": "area_type",
    "Total_Sq.ft": "total_sqft",
    "Price_per_sq.ft": "price_per_sqft",
    "Owner_name": "owner_name",
    "Owner_type": "owner_type"
})

# ‚úÖ Keep only relevant columns
cols = [
    "price", "emi_starts", "bhk", "house_type", "purpose", "location",
    "area_type", "total_sqft", "price_per_sqft", "owner_name", "owner_type"
]
df = df[cols].copy()
df["city"] = "Kolkata"

# --- Cleaning helper functions ---
def parse_price(price_str):
    """
    Converts values like '‚Çπ8.5 Cr', '‚Çπ45.0 L' to float in lakhs.
    """
    if not isinstance(price_str, str):
        return np.nan
    s = price_str.replace("‚Çπ", "").replace(",", "").strip().lower()
    try:
        if "cr" in s:
            return float(s.replace("cr", "").strip()) * 100
        if "l" in s:
            return float(s.replace("l", "").strip())
        return float(s)
    except:
        return np.nan

def parse_sqft(x):
    """
    Converts '2100 sq.ft' ‚Üí 2100.0
    """
    if not isinstance(x, str):
        return np.nan
    s = x.lower().replace("sq.ft", "").replace(",", "").strip()
    try:
        if "-" in s:
            a, b = s.split("-")
            return (float(a) + float(b)) / 2
        return float(s)
    except:
        return np.nan

# ‚úÖ Apply cleaning
rows_before = len(df)
df["price_lakh"] = df["price"].apply(parse_price)
df["total_sqft"] = df["total_sqft"].apply(parse_sqft)

# Drop invalid rows
df = df.dropna(subset=["price_lakh", "total_sqft", "location"])
rows_after = len(df)
removed = rows_before - rows_after

# ‚úÖ Save cleaned dataset
df.to_csv(output_path, index=False)

print(f"‚úÖ Rows before cleaning: {rows_before}")
print(f"‚úÖ Rows after cleaning: {rows_after}")
print(f"‚úÖ Removed {removed} rows\n")

print(f"‚úÖ Cleaned Kolkata dataset saved at: {output_path}\n")

# ‚úÖ Show tabular sample
print("üîπ Sample cleaned data:")
print(df.head(10).to_string(index=False))

Columns read from file:
 ['Flat_Price', 'EMI_Starts', 'BHK', 'css-11nfaq3', 'Unnamed: 4', 'HOUSE_TYPE', 'Unnamed: 6', 'Unnamed: 7', 'Purpose', 'Location', 'Area_Type', 'Total_Sq.ft', 'Price_per_sq.ft', 'Owner_name', 'Owner_type']

‚úÖ Rows before cleaning: 3968
‚úÖ Rows after cleaning: 3966
‚úÖ Removed 2 rows

‚úÖ Cleaned Kolkata dataset saved at: C:\Users\91786\Desktop\Real_Estate_Price\data_clean\kolkata_clean.csv

üîπ Sample cleaned data:
   price emi_starts   bhk        house_type     purpose               location     area_type  total_sqft price_per_sqft                         owner_name     owner_type    city  price_lakh
 ‚Çπ8.5 Cr ‚Çπ4.22 Lacs 6 BHK Independent House for sale in    Ballygunge, Kolkata Build Up Area      4200.0 ‚Çπ20.24 K/sq.ft                Abhijit Chakraborty Housing Expert Kolkata       850.0
 ‚Çπ45.0 L   ‚Çπ23.83 K 3 BHK Independent House for sale in   Barrackpore, Kolkata Build Up Area      1400.0  ‚Çπ3.21 K/sq.ft                    Virtual Reality Housing Expert Kolkata        45.0
‚Çπ1.35 Cr   ‚Çπ67.02 K 3 BHK Independent House for sale in    Santoshpur, Kolkata Build Up Area      2500.0  ‚Çπ5.40 K/sq.ft                  AveNew Properties Housing Expert Kolkata       135.0
 ‚Çπ60.0 L   ‚Çπ31.77 K 5 BHK Independent House for sale in       Sarsuna, Kolkata Build Up Area      1100.0  ‚Çπ5.45 K/sq.ft               Ganapati Real Estate Housing Expert Kolkata        60.0
 ‚Çπ52.0 L   ‚Çπ27.54 K 4 BHK Independent House for sale in   Madhyamgram, Kolkata Build Up Area       900.0  ‚Çπ5.78 K/sq.ft               Third Eye Consulting Housing Expert Kolkata        52.0
 ‚Çπ32.0 L   ‚Çπ16.95 K 3 BHK Independent House for sale in   Thakurpukur, Kolkata Build Up Area      1200.0  ‚Çπ2.67 K/sq.ft Hearth And Home Solutions Pvt. Ltd Housing Expert Kolkata        32.0
 ‚Çπ69.3 L   ‚Çπ36.70 K 3 BHK Independent House for sale in        Rajpur, Kolkata Build Up Area      2310.0  ‚Çπ3.00 K/sq.ft                         MMR Realty Housing Expert Kolkata        69.3
 ‚Çπ40.0 L   ‚Çπ21.18 K 2 BHK Independent House for sale in North Dum Dum, Kolkata Build Up Area      1170.0  ‚Çπ3.42 K/sq.ft                   Wordsmith Realty Housing Expert Kolkata        40.0
 ‚Çπ95.0 L   ‚Çπ47.16 K 4 BHK Independent House for sale in      Dhakuria, Kolkata Build Up Area      1862.0  ‚Çπ5.10 K/sq.ft                 Sandip Kumar Mitra Housing Expert Kolkata        95.0
 ‚Çπ3.0 Cr ‚Çπ1.49 Lacs 9 BHK Independent House for sale in    Shyambazar, Kolkata Build Up Area      4200.0  ‚Çπ7.14 K/sq.ft                   Arijit Mukherjee Housing Expert Kolkata       300.0

In [30]:
import pandas as pd
import numpy as np
from pathlib import Path

BASE = Path(r"C:\Users\91786\Desktop\Real_Estate_Price")
input_path = BASE / "Pune_Data_kaggle.csv"
output_path = BASE / "data_clean" / "pune_clean.csv"

# Read file
df = pd.read_csv(input_path)
print("Columns read from file:\n", list(df.columns))

print(f"\n‚úÖ Rows before cleaning: {len(df)}")

# üßπ Clean price range like "6,205 - 7,395/sq. ft."
def parse_price_range(s):
    s = str(s).replace(",", "").strip()
    if "-" in s:
        parts = s.split("-")
        try:
            low = float(parts[0])
            high = float(parts[1].split("/")[0])
            return low, high, (low + high) / 2
        except:
            return np.nan, np.nan, np.nan
    else:
        try:
            val = float(s.split("/")[0])
            return val, val, val
        except:
            return np.nan, np.nan, np.nan

df[["min_price", "max_price", "avg_price"]] = df["buyrates_value_2"].apply(
    lambda x: pd.Series(parse_price_range(x))
)

# Keep only relevant columns
keep_cols = [
    "localityname_value", "min_price", "max_price", "avg_price",
    "buyratesqqa_value",
    "rentalrates_value_2", "rentalrates_value_3", "rentalrates_value_4",
    "rentalrates_value_5", "rentalrates_value_6"
]
df_clean = df[keep_cols].copy()

# Rename columns nicely
df_clean.columns = [
    "location", "min_price_sqft", "max_price_sqft", "avg_price_sqft",
    "price_trend", "rent_2bhk", "rent_3bhk", "rent_4bhk", "rent_5bhk", "rent_others"
]

# Drop rows where price info is missing
df_clean = df_clean.dropna(subset=["avg_price_sqft"])
df_clean["city"] = "Pune"

print(f"‚úÖ Rows after cleaning: {len(df_clean)}")
print(f"‚úÖ Removed {len(df) - len(df_clean)} rows\n")

# Save output
df_clean.to_csv(output_path, index=False)
print(f"‚úÖ Cleaned Pune dataset saved at: {output_path}\n")

print("üîπ Sample cleaned data:")
print(df_clean.head(10))

Columns read from file:
 ['localityname_value', 'buyrates_value_1', 'buyrates_value_2', 'buyratesqqa_value', 'buyratesqqa_image', 'buyratesqqa_image/_alt', 'buyrates_value_3', 'rentalrates_value_1', 'rentalrates_value_2', 'rentalrates_value_3', 'rentalrates_value_4', 'rentalrates_value_5', 'rentalrates_value_6']

‚úÖ Rows before cleaning: 276
‚úÖ Rows after cleaning: 206
‚úÖ Removed 70 rows

‚úÖ Cleaned Pune dataset saved at: C:\Users\91786\Desktop\Real_Estate_Price\data_clean\pune_clean.csv

üîπ Sample cleaned data:
           location  min_price_sqft  max_price_sqft  avg_price_sqft  \
0      Adarsh Nagar          6205.0          7395.0          6800.0
1              Aher          3315.0          3868.0          3591.5
2            Akurdi          4845.0          5695.0          5270.0
3            Alandi          2550.0          2932.0          2741.0
5    Ambedkar Nagar          4845.0          5482.0          5163.5
6         Ambe Gaon          4165.0          5100.0          4632.5
7       Ambegaon Bk          4505.0          5270.0          4887.5
8   Ambegaon Budruk          3995.0          4718.0          4356.5
9   Ambegaon Pathar          3102.0          3868.0          3485.0
10      Anand Nagar          4632.0          6205.0          5418.5

   price_trend      rent_2bhk rent_3bhk        rent_4bhk rent_5bhk  \
0            -              -       NaN                -       NaN
1            -              -       Rs.    7,395 - 9,614       NaN
2       -1.61%  6,866 - 8,338       Rs.  10,748 - 12,898       NaN
3           0%  3,944 - 4,930       NaN                -       NaN
5            -              -       NaN                -       NaN
6       -2.83%  5,507 - 7,009       Rs.    8,892 - 9,700       NaN
7       -1.71%  5,797 - 6,851       Rs.   8,920 - 10,542       NaN
8        0.98%              -       Rs.   8,527 - 10,853       NaN
9        7.79%              -       NaN                -       NaN
10           -  6,885 - 8,262       Rs.   9,960 - 12,095       NaN

   rent_others  city
0            -  Pune
1            -  Pune
2            -  Pune
3            -  Pune
5            -  Pune
6            -  Pune
7            -  Pune
8            -  Pune
9            -  Pune
10           -  Pune

In [34]:
import pandas as pd
from pathlib import Path

# Base path
BASE = Path(r"C:\Users\91786\Desktop\Real_Estate_Price\data_clean")

# List of all cleaned city CSVs
files = [
    BASE / "mumbai_clean.csv",
    BASE / "delhi_clean.csv",
    BASE / "blr_clean.csv",
    BASE / "hyderabad_clean.csv",
    BASE / "kolkata_clean.csv",
    BASE / "pune_clean.csv",
]

# To store dataframes
dfs = []

# Read each file and show its columns
for file in files:
    try:
        df = pd.read_csv(file)
        city = file.stem.split("_")[0].capitalize()
        print(f"\nüìÑ {city} Columns: {list(df.columns)}")
        df["city"] = city  # add city name if missing
        dfs.append(df)
    except Exception as e:
        print(f"‚ùå Error reading {file}: {e}")

# ‚úÖ Combine all datasets ‚Äî auto aligns columns
combined_df = pd.concat(dfs, axis=0, ignore_index=True)

# üîπ Optional: handle same-meaning columns with different names
rename_map = {
    "Flat_Price": "price_lakh",
    "min_price": "price_lakh",
    "max_price": "max_price_lakh",
    "buyrates_value_2": "price_range",
    "Total_Sq.ft": "total_sqft",
    "Price_per_sq.ft": "price_per_sqft",
    "localityname_value": "location",
    "Purpose": "purpose",
    "HOUSE_TYPE": "house_type",
    "Area_Type": "area_type",
    "Owner_type": "owner_type",
    "Owner_name": "owner_name",
}

# Rename wherever applicable
combined_df.rename(columns=rename_map, inplace=True)

# üîπ Drop columns with no useful data (optional)
combined_df.dropna(how='all', axis=1, inplace=True)

# üîπ Save final dataset
output_path = BASE / "India_Data.csv"
combined_df.to_csv(output_path, index=False)
print(f"\n‚úÖ Combined India dataset saved at: {output_path}")

# Show summary
print(f"\n‚úÖ Total rows combined: {len(combined_df)}")
print(f"‚úÖ Total columns: {len(combined_df.columns)}")
print(f"\nColumns in final dataset:\n{list(combined_df.columns)}")

üìÑ Mumbai Columns: ['bhk', 'property_type', 'location', 'total_sqft', 'price_value', 'price_unit', 'region', 'availability', 'age', 'city']

üìÑ Delhi Columns: ['Unnamed: 0', 'price_lakh', 'location', 'total_sqft', 'latitude', 'longitude', 'bhk', 'Bathrooms', 'balcony', 'status', 'neworold', 'parking', 'Furnished_status', 'Lift', 'Landmarks', 'building_type', 'desc', 'rate_per_sqft', 'city']

üìÑ Blr Columns: ['area_type', 'availability', 'location', 'size', 'total_sqft', 'bath', 'balcony', 'price', 'city', 'bhk']

üìÑ Hyderabad Columns: ['Unnamed: 0', 'property_type', 'location', 'price_lakh', 'rate_per_sqft', 'total_sqft', 'status', 'city']

üìÑ Kolkata Columns: ['price', 'emi_starts', 'bhk', 'house_type', 'purpose', 'location', 'area_type', 'total_sqft', 'price_per_sqft', 'owner_name', 'owner_type', 'city', 'price_lakh']

üìÑ Pune Columns: ['location', 'min_price_sqft', 'max_price_sqft', 'avg_price_sqft', 'price_trend', 'rent_2bhk', 'rent_3bhk', 'rent_4bhk', 'rent_5bhk', 'rent_others', 'city']

‚úÖ Combined India dataset saved at: C:\Users\91786\Desktop\Real_Estate_Price\data_clean\India_Data.csv

‚úÖ Total rows combined: 104881
‚úÖ Total columns: 44

Columns in final dataset:
['bhk', 'property_type', 'location', 'total_sqft', 'price_value', 'price_unit', 'region', 'availability', 'age', 'city', 'Unnamed: 0', 'price_lakh', 'latitude', 'longitude', 'Bathrooms', 'balcony', 'status', 'neworold', 'parking', 'Furnished_status', 'Lift', 'Landmarks', 'building_type', 'desc', 'rate_per_sqft', 'area_type', 'size', 'bath', 'price', 'emi_starts', 'house_type', 'purpose', 'price_per_sqft', 'owner_name', 'owner_type', 'min_price_sqft', 'max_price_sqft', 'avg_price_sqft', 'price_trend', 'rent_2bhk', 'rent_3bhk', 'rent_4bhk', 'rent_5bhk', 'rent_others']

In [35]:
import pandas as pd
from pathlib import Path

# Path to your merged file
path = Path(r"C:\Users\91786\Desktop\Real_Estate_Price\data_clean\India_Data.csv")

# Read the dataset
df = pd.read_csv(path)

# Print shape
print("‚úÖ Dataset shape:")
print(f"Rows (data points): {df.shape[0]}")
print(f"Columns (features): {df.shape[1]}\n")

# Print column names
print("üìã Column names:")
print(list(df.columns))

# Show some sample rows
print("\nüîπ Sample data preview:")
print(df.head(5))

C:\Users\91786\AppData\Local\Temp\ipykernel_15508\2204541135.py:8: DtypeWarning: Columns (0,5,6,7,8,16,17,19,21,22,23,25,26,28,29,30,31,32,33,34,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

‚úÖ Dataset shape:
Rows (data points): 104881
Columns (features): 44

üìã Column names:
['bhk', 'property_type', 'location', 'total_sqft', 'price_value', 'price_unit', 'region', 'availability', 'age', 'city', 'Unnamed: 0', 'price_lakh', 'latitude', 'longitude', 'Bathrooms', 'balcony', 'status', 'neworold', 'parking', 'Furnished_status', 'Lift', 'Landmarks', 'building_type', 'desc', 'rate_per_sqft', 'area_type', 'size', 'bath', 'price', 'emi_starts', 'house_type', 'purpose', 'price_per_sqft', 'owner_name', 'owner_type', 'min_price_sqft', 'max_price_sqft', 'avg_price_sqft', 'price_trend', 'rent_2bhk', 'rent_3bhk', 'rent_4bhk', 'rent_5bhk', 'rent_others']

üîπ Sample data preview:
  bhk property_type                              location  total_sqft  \
0   3     Apartment   Lak And Hanware The Residency Tower       685.0
1   2     Apartment     Radheya Sai Enclave Building No 2       640.0
2   2     Apartment                         Romell Serene       610.0
3   2     Apartment  Soundlines Codename Urban Rainforest       876.0
4   2     Apartment                         Origin Oriana       659.0

   price_value price_unit          region        availability  age    city  \
0         2.50         Cr    Andheri West       Ready to move  New  Mumbai
1        52.51          L    Naigaon East  Under Construction  New  Mumbai
2         1.73         Cr   Borivali West  Under Construction  New  Mumbai
3        59.98          L          Panvel  Under Construction  New  Mumbai
4        94.11          L  Mira Road East  Under Construction  New  Mumbai

   ...  owner_type  min_price_sqft  max_price_sqft  avg_price_sqft  \
0  ...         NaN             NaN             NaN             NaN
1  ...         NaN             NaN             NaN             NaN
2  ...         NaN             NaN             NaN             NaN
3  ...         NaN             NaN             NaN             NaN
4  ...         NaN             NaN             NaN             NaN

   price_trend  rent_2bhk rent_3bhk rent_4bhk  rent_5bhk rent_others
0          NaN        NaN       NaN       NaN        NaN         NaN
1          NaN        NaN       NaN       NaN        NaN         NaN
2          NaN        NaN       NaN       NaN        NaN         NaN
3          NaN        NaN       NaN       NaN        NaN         NaN
4          NaN        NaN       NaN       NaN        NaN         NaN

[5 rows x 44 columns]

In [36]:
df = pd.read_csv(path, low_memory=False)

print("üèôÔ∏è Records per city:")
print(df['city'].value_counts())

(df.isnull().sum() / len(df) * 100).sort_values(ascending=True)

üèôÔ∏è Records per city:
city
Mumbai       76038
Blr          13273
Delhi         7738
Kolkata       3966
Hyderabad     3660
Pune           206
Name: count, dtype: int64

location             0.000000
city                 0.000000
total_sqft           0.196413
bhk                  3.701338
availability        14.845396
property_type       24.011022
price_unit          27.500691
price_value         27.500691
region              27.500691
age                 27.500691
balcony             82.995967
price               83.563276
area_type           83.563276
price_lakh          85.351017
size                87.359960
bath                87.414308
rate_per_sqft       89.132445
Unnamed: 0          89.132445
status              89.679732
latitude            92.622115
Bathrooms           92.622115
longitude           92.622115
building_type       92.622115
neworold            92.622115
desc                92.622115
Furnished_status    96.067925
house_type          96.218572
emi_starts          96.218572
purpose             96.218572
price_per_sqft      96.218572
owner_type          96.218572
owner_name          96.228106
Landmarks           97.369400
parking             97.509558
Lift                98.347651
min_price_sqft      99.803587
max_price_sqft      99.803587
avg_price_sqft      99.803587
price_trend         99.803587
rent_2bhk           99.803587
rent_4bhk           99.803587
rent_others         99.803587
rent_3bhk           99.857934
rent_5bhk           99.934211
dtype: float64